{% extends 'base.html' %}

{% block title %}
    Listagem de Produtos
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    {% for i in products %}
    <tr>
        <td><a href="{% url 'list_product_id' i.id %}">{{ i.name }}</a></td>
        <td>{{ i.description }}</td>
        <td>{{ i.value }}</td>
        <td>
            <a href="{% url 'edit_product' i.id %}">Editar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'register_product' %}">
    <button class="btn btn-primary">Cadastrar</button>
</a>
{% endblock content %}