{% extends 'clients/base.html' %}

{% load my_filters %}

{% block title %}
    Cadastro de Clientes
{% endblock title %}

{% block content %}
<!--  {{ form.as_p }}  -->
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form_client.name.errors }}
        <label>Nome: </label>
        {{ form_client.name | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_client.sex.errors }}
        <label>Sexo: </label>
        {{ form_client.sex | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_client.birthday.errors }}
        <label>Data de Nascimento: </label>
        {{ form_client.birthday | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_client.email.errors }}
        <label>Email: </label>
        {{ form_client.email | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_client.profession.errors }}
        <label>Profissão: </label>
        {{ form_client.profession | addclass:'form-control' }}
    </div>

    <hr>
    <h3>Endereço</h3>

    <div class="form-group">
        {{ form_address.street.errors }}
        <label>Rua: </label>
        {{ form_address.street | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_address.number.errors }}
        <label>Número: </label>
        {{ form_address.number | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_address.complement.errors }}
        <label>Complemento: </label>
        {{ form_address.complement | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_address.district.errors }}
        <label>Bairro: </label>
        {{ form_address.district | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_address.city.errors }}
        <label>Cidade: </label>
        {{ form_address.city | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_address.country.errors }}
        <label>País: </label>
        {{ form_address.country | addclass:'form-control' }}
    </div>

    <div class="form-group">
        <input type="submit" name="Cadastrar">
    </div>
</form>
{% endblock content %}