{% extends 'clients/base.html' %}

{% block title %}
    Listagem de Clientes
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Sexo</th>
    </tr>
    </thead>

    <tbody>
    {% for i in clients %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.birthday | date:'d M Y' }}</td>
        <td>{{ i.sex }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'register_client' %}">
    <button class="btn btn-primary">Cadastrar</button>
</a>
{% endblock content %}