{% extends 'clients/base.html' %}

{% block title %}
    Listagem de Clientes
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Sexo</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    {% for i in clients %}
    <tr>
        <td><a href="{% url 'list_client_id' i.id %}">{{ i.name }}</a></td>
        <td>{{ i.birthday | date:'d M Y' }}</td>
        <td>{{ i.sex }}</td>
        <td>
            <a href="{% url 'edit_client' i.id %}">Editar</a>
            <a href="{% url 'remove_client' i.id %}">Remover</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'register_client' %}">
    <button class="btn btn-primary">Cadastrar</button>
</a>
{% endblock content %}