{% extends 'clients/base.html' %}

{% block title %}
    Listagem de Cliente
{% endblock title %}


{% block content %}

<div class="card">
    <div class="card-header">
        Dados do cliente
    </div>

    <div class="card-body">
        <h5 class="card-title">Nome: {{ client.name }}</h5>
        <h5 class="card-title">Sexo: {{ client.sex }}</h5>
        <h5 class="card-title">Data de Nascimento: {{ client.birthday }}</h5>
        <h5 class="card-title">Email: {{ client.email }}</h5>
        <h5 class="card-title">Profissão: {{ client.profession }}</h5>
    </div>

</div>

{% endblock content %}