{% extends 'base.html' %}
{% load my_filters %}

{% block title %}
    Cadastrar Pedido
{% endblock title %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form_order.client.errors }}
        <label>Cliente: </label>
        {{ form_order.client | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_order.observations.errors }}
        <label>Observações: </label>
        {{ form_order.observations | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_order.value.errors }}
        <label>Valor: </label>
        {{ form_order.value | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_order.status.errors }}
        <label>Status: </label>
        {{ form_order.status | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_order.order_date.errors }}
        <label >Data do pedido: </label>
        {{ form_order.order_date | addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_order.products.errors }}
        <label >Data do pedido: </label>
        {{ form_order.products | addclass:'form-control' }}
    </div>

    <div>
        <input type="submit" name="Cadastrar" value="Cadastrar">
    </div>
</form>
{% endblock content %}