{% extends 'base.html' %}

{% block title %}
    Listagem de Pedido
{% endblock title %}


{% block content %}

<div class="card">
    <div class="card-header">
        Dados do pedido
    </div>

    <div class="card-body">
        <h5 class="card-title">Cliente: {{ order.client }}</h5>
        <h5 class="card-title">Observaçoes: {{ order.observations }}</h5>
        <h5 class="card-title">Data do Pedido: {{ order.order_date }}</h5>
        <h5 class="card-title">Value: {{ order.value }}</h5>
        <h5 class="card-title">Status: {{ order.status }}</h5>
    </div>

    <hr>
    <h4>Produtos do pedido: </h4>
    {% for i in order.products.all %}
        <h5>{{ i.name }}</h5>
    {% endfor %}

</div>

{% endblock content %}