{% extends 'base.html' %}

{% block title %}
    Listagem de Pedidos
{% endblock title %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Cliente</th>
        <th>Data do Pedido</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    {% for i in orders %}
    <tr>
        <td><a href="{% url 'list_order_id' i.id %}">{{ i.client }}</a></td>
        <td>{{ i.order_date | date:'d M Y' }}</td>
        <td>{{ i.status }}</td>
        <td>
            <a href="{% url 'edit_order' i.id %}">Editar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'register_order' %}">
    <button class="btn btn-primary">Cadastrar</button>
</a>
{% endblock content %}